Find the average session distance travelled by Google Fit users based on GPS location data. Calculate the distance for two scenarios:



1. Taking into consideration the curvature of the earth

2. Taking into consideration the curvature of the earth as a flat surface


Assume one session distance is the distance between the biggest and the smallest step. If the session has only one step id, discard it from the calculation. Assume that session can't span over multiple days.
Output the average session distances calculated in the two scenarios and the difference between them.


Formula to calculate the distance with the curvature of the earth:

https://platform.stratascratch.com/coding/10067-google-fit-user-tracking?utm_source=blog&utm_medium=click&utm_campaign=kdn+3+hard+python+questions&code_type=1

In [12]:
import numpy as np
import pandas as pd
from math import cos, sin, acos, radians

In [13]:
df = pd.read_csv("D:\Codes\CodeBank\google_fit_location.csv")

In [14]:
df

,user_id,session_id,step_id,day,latitude,longitude,laltitude
0,55e60cfcc9dc49c17e,0.0,186.0,1.0,39.999,19.999,1502.429
1,75d295377a46f83236,2.0,161.0,10.0,40.000,20.001,1499.002
2,406539987dd9b679c0,0.0,133.0,7.0,40.000,20.000,1498.366
3,e6088004caf0c8cc51,0.0,12.0,7.0,40.001,20.001,1499.311
4,ef5fe98c6b9f313075,0.0,44.0,8.0,40.000,20.000,1497.595
...,...,...,...,...,...,...,...
95,850badf89ed8f06854\t1\t88\t9\t39.999\t19.999\t...,NaN,NaN,NaN,NaN,NaN,NaN
96,d63386c884aeb9f71d\t1\t89\t9\t39.999\t20\t1497...,NaN,NaN,NaN,NaN,NaN,NaN
97,e0e0defbb9ec47f6f7\t1\t90\t3\t40\t20.001\t1497...,NaN,NaN,NaN,NaN,NaN,NaN
98,406539987dd9b679c0\t2\t0\t10\t40.001\t20\t1499...,NaN,NaN,NaN,NaN,NaN,NaN
99,75d295377a46f83236\t1\t103\t7\t40.001\t20.001\...,NaN,NaN,NaN,NaN,NaN,NaN